body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-container {
    min-height: 21vh;
    min-width: 21vh;
}

.row-container {
    display: flex;
        justify-content: center;
    /* background-color: lightgray; 
    border: 1px solid black; */
}

.square {
    background-color: white;
    flex-grow: 1;
    padding: 5px;
    margin: 5px;
    min-height: 3vh;
    min-width: 3vh;
    max-width: 3vh;
    border: 1px solid black;
    border-radius: 7%;
}
    .square:hover {
        background-color: lightgray;
    }

